name: My first GitHub action
on: [push]
jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Build the project
        run: npm run build
      - name: Setup finished successfully
        run: echo "hurrayyyy!!!!"
