name: My first GitHub action
on: [push]
jobs:
  build-app:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{secrets.VERCEL_ORG_ID}}
      VERCEL_PROJECT_ID: ${{secrets.VERCEL_PROJECT_ID}}
      VERCEL_TOKEN: ${{secrets.VERCEL_TOKEN}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install node_modules
        run: npm i
      - name: Build the project
        run: npm run build
      - name: Deploy the project
        run: npm run deploy
      - name: Setup finished successfully
        run: echo "hurrayyyy!!!!"
  test-app:
    needs: build-app
    runs-on: ubuntu-latest
    steps:
      - run: echo "YOLO"
